.category-main {
   .category-actions {
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      .category-title {
         font-size: 32px;
         font-weight: bold;
      }
      .data-filter-info {
         display: flex;
         gap: 14px;
      }
   }
   .category-filter {
      border: 1px solid rgba(0, 0, 0, .1);
      border-radius: 20px;
      padding: 20px 24px;
   }
}